* {
	margin: 0px;
	padding: 0px;
}

h1 {
	text-align: center;
    padding: 30px 0px 30px 0px;
    font-size: 3rem;
	background-color: antiquewhite;
	color: firebrick;
}

.board {
	margin: 50px 0px 0px 50px;
}

table {
	box-shadow: 10px 10px 10px firebrick;
}

table tr td {
	border: 5px ridge black;
	width: 100px;
	height: 100px;
}

.c1 {
	background-color: red;
}

.c2 {
	background-color: black;
}
